:root {
  --blue: #2d91d0;
  --green: #2b6c6c;
  --greenLight: #d2e8db;
  --yellow: #efdb2e;
  --yellowLight: #f8eb4d;
}

h2 {
  font-size: 1.6rem;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-family: Montserrat, sans-serif;
}

p {
  font-family: Montserrat, serif;
}
